<h1>Products</h1>
<% @products.each do |product| %>
  Name: <div class="productName"><%=product.name%> </div>
  Price: <div class="productPrice"> <%=product.price%></div>
  Inventory Count: <div class="productInventory"> <%=product.inventory%></div>

  Description: <div class="productDescription"><%= truncate(product.description)
   %></div>
  <button class="js-more" data-id="<%=product.id%>">More Info</button>
  <br></br>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");

    $.get("/products/" + id + ".json", function(data) {
      var description = data["product"]["description"];
      var inventoryStatus = "Available"
      if(data["product"]["inventory"] === 0){
        inventoryStatus = "Sold Out"}
        var result = data["product"]["orders"].map(order => order["products"].map(product => product["name"]));
      var result = result.join(", ")
       $('.productDescription').html(description + "<br>" + inventoryStatus + "<br>" + result);



    });

  });




});

</script>
