<h1>Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
  <div id="product-<%= product.id %>-orders"></div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + ".json", function(data) {
      var inventoryText = "<strong>Available: " + data.inventory + " left </strong>";
      if(data.inventory === 0 ){
        inventoryText = "<strong>Sold Out</strong>";
      }
      var descriptionText = "<p>" + data.description + "</p><p>" + inventoryText + "</p>";
      $("#product-" + id).html(descriptionText);
      if (data.orders.length > 0){
        // debugger;
        var orders = "";
        for (var i = 0; i < data.orders.length; i++){
            // debugger;
          orders += '<li>' + data.orders[i]["id"] + ' - ' + data.orders[i]["created_at"];
          orders += ' <br>Products:<ol>';

          // products = data.orders["products"];
          // products.forEach(function(prod) {
          //   orders += '<li>' + prod["name"] + '</li>';
          // });
          orders += '</ol></li>';
        }
      }
      $("#product-" + id + "-orders").html(orders);
    });
  });
});
</script>
