<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
Name: <h1 class="productName"><%= @product.name %></h1>
Inventory: <p class="productInventory"><%= @product.inventory %></p>
Price: <p class="productPrice"><%= @product.price %></p>
Description: <p class="productDescription"><%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/products/" + nextId + ".json", function(data) {
       // making sure we access the top level key first
       var data = data["product"];
        $(".productName").text(data["name"]);
        $(".productPrice").text(data["price"]);
        $(".productDescription").text(data["description"]);
    });
  });
});
</script>
